/target
/stage0/target/
/.cargo
/stage0/.cargo/
/abyss_script/target
/.zig-cache
/tmp
/stage0/tmp/
/stage1/tmp/
Cargo.lock
/stage0/Cargo.lock
/stage0/main.a
main.c
/stage0/main.c
abyss
/stage0/abyss
abyssc
/stage1/abyssc

# Archives
*.7z
*.zip
*.tar.gz
*.rar

# Executables
*.exe
*.o
*.obj
